* {
	margin: 0 auto;
	padding: 0;
}

@font-face {
	src: url(../fonts/Montserrat-VariableFont_wght.ttf);
	font-family: 'Montserrat';
}

/*
	1. Header
*/

header div {
	display: flex;
	align-items: center;
	background-color: #BDB76B; /* DarkKhaki */
	padding: 1.5em;
}

header div img {
	/* #FFF494 Clearer Khaki */
	display: flex;
	width: 10%;
}

/*
	2. Menu
*/

nav {
	background-color: #F0E68C; /* Khaki */
}

nav ul {
	display: flex;
}

nav ul li {
	text-align: center;
	list-style: none;
	padding: 1em;
	transition: 1s;
	width: 100%;
}

nav ul li:hover {
	background-color: #BDB76B; /* DarkKhaki */
}

nav ul li a {
	text-decoration: none;
	font-family: 'Montserrat';
	font-weight: bold;
	color: #4E4C2D; /* Darkest DarkKhaki */
}

/*
	3. Section
*/

section {
	font-family: Helvetica, Arial, sans-serif;
	border: 1px solid #BDB76B; /* DarkKhaki */
	border-radius: 1em;
	float: left;
	margin: 1em 1em 5em 1em;
	padding: 1em;
	width: 65%;
}

section h3 {
	font-family: 'Montserrat';
	margin-bottom: 1em;
	color: #4E4C2D; /* Darkest DarkKhaki */
}

section article {
	border: 1px solid #F0E68C; /* Khaki */
	border-radius: 1em;
	margin-bottom: 1em;
	padding: 1em;
	display: flex;
}

/* Producto: Listado */
section article img {
	height: 20vh;
}

/* Producto: Detalle */
section article.info img {
	height: 60vh;
}

section article div.info {
	padding: 1em;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

section article div.info a {
	background-color: #F0E68C; /* Khaki */
	text-decoration: none;
	border-radius: 1em;
	margin-top: 1em;
	color: #000;
	padding: 1em;
	transition: 1s;
}

section article div.info a:hover {
	background-color: #BDB76B; /* DarkKhaki */
}

section a {
	background-color: #F0E68C; /* Khaki */
	text-decoration: none;
	border-radius: 1em;
	color: #000;
	margin-bottom: 1em;
	padding: 1em;
	transition: 1s;
}

section a:hover {
	background-color: #BDB76B; /* DarkKhaki */
}

section div.crud {
	display: flex;
}

section div.crud a {
	margin: 1em;
	width: -moz-available;
}

section table {
	text-align: center;
	width: -moz-available;
}

section table img {
	width: 50%;
}

section table tbody tr td {
	padding: 1em;
}

section table tbody tr td.imagen {
	width: 20%;
}

section table tbody tr td div.quantity {
	display: flex;
	align-items: baseline;
	text-align: center;
	margin: 1em;
	padding: 1em;
}

section table tbody tr td div.quantity a {
	margin: 1em;
	padding: 1em;
}

section div.order {
	display: flex;
	align-items: center;
}

section div.order a {
	margin: 1em;
}

section div.order p,
section div.order a {
	text-align: center;
	width: -moz-available;
}

/*
	4. Side Bar
*/

aside {
	background-color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	border: 1px solid #BDB76B; /* DarkKhaki */
	color: #4E4C2D; /* Darkest DarkKhaki */
	border-radius: 1em;
	float: right;
	margin: 1em;
	padding: 1em;
	width: 20%;
}

aside h3 {
	font-family: 'Montserrat';
	text-align: center;
	margin-bottom: 1em;
}

aside form label {
	display: block;
	text-align: center;
	margin-bottom: 0.5em;
}

aside form input {
	display: block;
	border: 1px solid #BDB76B; /* DarkKhaki */
	border-radius: 1em;
	padding: 1em;
	width: -moz-available;
}

aside form input[type="submit"] {
	background-color: #F0E68C; /* Khaki */
	font-size: 1em;
	border: none;
	transition: 1s;
}

aside form input[type="submit"]:hover {
	background-color: #BDB76B; /* DarkKhaki */
}

aside ul {
	margin-top: 1.5em;
}

aside ul li {
	list-style: none;
	text-align: center;
	margin: 0.5em;
}

aside ul li.shopping-cart {
	margin-bottom: 2em;
	background-color: #F0E68C; /* Khaki */
	border-radius: 1em;
	padding: 1em;
}

aside ul li a {
	text-decoration: none;
	color: #BDB76B; /* DarkKhaki */
}

aside ul li i {
	color: #BDB76B; /* DarkKhaki */
}

/*
	Footer
*/

footer {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #F0E68C;
	text-align: center;
	padding: 1em;
	position: fixed;
	bottom: 0;
	width: 100%;
	color: #4E4C2D; /* Darkest DarkKhaki */
}

/*
	Estilos Extra (no pertenecen al HTML semántico)
*/

pre {
	background-color: lightgrey;
	white-space: break-spaces;
	border-radius: 1em;
	margin: 1em;
	padding: 1em;
	width: 65%;
}

div#registro {
	background-color: #fff;
	font-family: 'Montserrat';
	border: 1px solid #BDB76B; /* DarkKhaki */
	border-radius: 1em;
	margin: 1em 1em 5em 1em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	text-align: center;
}

div#registro h3 {
	color: #4E4C2D; /* Darkest DarkKhaki */
	margin-bottom: 1em;
}

div#registro form label {
	display: block;
	text-align: center;
	margin-bottom: 1em;
}

div#registro form input {
	display: block;
	border: 1px solid #BDB76B; /* DarkKhaki */
	border-radius: 1em;
	padding: 1em;
	width: -moz-available;
}

div#registro form input[type="submit"] {
	background-color: #f0e68c; /* Khaki */
	font-size: 1em;
	border: none;
	transition: 1s;
}

div#registro form input[type="submit"]:hover {
	background-color: #BDB76B; /* DarkKhaki */
}

div#alert {
	background-color: #F0E68C;
	border-radius: 1em;
	margin: 1em;
	padding: 1em;
	width: 60%
}

div#alert p span.success {
	color: #008000;
}

/* Login: Error */

div#error {
	background-color: #F6D8DA;
	border-radius: 1em;
	margin: 1em 0;
	padding: 1em;
}

div#error p span.error {
	color: #dc3545;
}

/* Login: Éxito */

div#success {
	background-color: #D9F3EA;
	border-radius: 1em;
	padding: 1em;
}

div#success p span.success {
	color: #4C9F7C;
}

/* Crear Categoría */

div#crear {
	background-color: #fff;
	font-family: 'Montserrat';
	border: 1px solid #BDB76B; /* DarkKhaki */
	border-radius: 1em;
	margin: 1em;
	padding: 1em;
	width: 60%;
}

div#crear h3 {
	color: #4E4C2D; /* Darkest DarkKhaki */
	text-align: center;
	margin-bottom: 1em;
}

div#crear form label {
	display: block;
	text-align: center;
	margin-bottom: 1em;
}

div#crear form input {
	display: block;
	border: 1px solid #BDB76B; /* DarkKhaki */
	border-radius: 1em;
	padding: 1em;
	width: -moz-available;
}

div#crear form input[type="submit"] {
	background-color: #F0E68C; /* Khaki */
	font-size: 1em;
	border: none;
	transition: 1s;
}

div#crear form input[type="submit"]:hover {
	background-color: #BDB76B; /* DarkKhaki */
}

/* Editar Producto */

div#producto {
	background-color: #fff;
	font-family: 'Montserrat';
	border: 1px solid #BDB76B; /* DarkKhaki */
	border-radius: 1em;
	margin: 1em 1em 5em 1em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	text-align: center;
}

div#producto h3 {
	color: #4E4C2D; /* Darkest DarkKhaki */
	margin-bottom: 1em;
}

div#producto form label {
	display: block;
	text-align: center;
	margin-bottom: 1em;
}

div#producto form input {
	display: block;
	border: 1px solid #BDB76B; /* DarkKhaki */
	border-radius: 1em;
	padding: 1em;
	width: -moz-available;
}

div#producto form textarea {
	border: 1px solid #BDB76B; /* DarkKhaki */
	border-radius: 1em;
	width: -moz-available;
	padding: 1em;
}

div#producto form select {
	background-color: #BDB76B; /* DarkKhaki */
	border: 1px solid #BDB76B; /* DarkKhaki */
	border-radius: 1em;
	width: -moz-available;
	padding: 1em;
}

div#producto form img {
	width: 20%;
}

div#producto form input[type="submit"] {
	background-color: #F0E68C; /* Khaki */
	font-size: 1em;
	border: none;
	transition: 1s;
}

div#producto form input[type="submit"]:hover {
	background-color: #BDB76B; /* DarkKhaki */
}

/*
	Realizar pedido
*/

div#order {
	background-color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	border-radius: 1em;
	margin: 1em 1em 5em 1em;
	padding: 1em;
}

div#order h3 {
	font-family: 'Montserrat';
	text-align: center;
	margin-bottom: 1em;
}

div#order form label {
	display: block;
	text-align: center;
	margin-bottom: 0.5em;
}

div#order form input {
	display: block;
	border: 1px solid #BDB76B; /* DarkKhaki */
	border-radius: 1em;
	padding: 1em;
	width: -moz-available;
}

div#order form input[type="submit"] {
	background-color: #F0E68C; /* Khaki */
	margin: 1em 0;
	border: none;
	transition: 1s;
	font-size: 1em;
}

div#order form input[type="submit"]:hover {
	background-color: #BDB76B; /* DarkKhaki */
}

div#order hr {
	border: 1px solid #F0E68C; /* Khaki */
	width: inherit;
}

div#order a {
	background-color: #F0E68C; /* Khaki */
	text-decoration: none;
	text-align: center;
	border-radius: 1em;
	color: #000;
	margin-bottom: 1em;
	padding: 1em;
	display: block;
	transition: 1s;
	width: inherit;
}

div#order a:hover {
	background-color: #BDB76B; /* DarkKhaki */
}

div#confirmado {
	border: 1px solid #BDB76B; /* DarkKhaki */
	border-radius: 1em;
	margin: 1em;
	padding: 1em;
	font-family: 'Montserrat';
	font-size: 1.25em;
	display: flex;
	flex-direction: column;
}

div#confirmado i {
	line-height: 1.5em;
	color: #BDB76B; /* DarkKhaki */
	font-size: 5em;
}

div#confirmado h3,
div#confirmado table th {
	color: #4E4C2D; /* Darkest DarkKhaki */
}

div#confirmado p {
	text-align: center;
	margin: 1em;
}

div#confirmado table {
	border: 1px solid #BDB76B; /* DarkKhaki */
	border-radius: 1em;
	text-align: center;
	margin: 1em;
	padding: 1em;
}

div#confirmado ul {
	margin: 1em;
}

div#confirmado ul li {
	text-align: center;
	list-style: none;
}

div#confirmado hr {
	border: 1px solid #BDB76B; /* DarkKhaki */
	margin: 1em;
}

div#detalle {
	background-color: #fff;
	font-family: 'Montserrat';
	font-size: 1.25em;
	border: 1px solid #BDB76B; /* DarkKhaki */
	border-radius: 1em;
	margin: 1em;
	padding: 1em;
	display: flex;
	flex-direction: column;
}

div#detalle i {
	line-height: 1.5em;
	color: #BDB76B; /* DarkKhaki */
	font-size: 5em;
}

div#detalle h3 {
	color: #4E4C2D; /* Darkest DarkKhaki */
}

div#detalle ul {
	text-align: center;
	margin: 1em;
}

div#detalle ul li {
	list-style: none;
}

div#detalle hr {
	border: 1px solid #BDB76B; /* DarkKhaki */
	margin-bottom: 1em;
}

div#detalle table {
	border: 1px solid #BDB76B; /* DarkKhaki */
	border-radius: 1em;
	text-align: center;
	margin: 1em;
	padding: 1em;
}

div#detalle table th {
	color: #4E4C2D; /* Darkest DarkKhaki */
}

div#detalle form {
	display: flex;
}

div#detalle form select {
	background-color: #F0E68C; /* Khaki */
	width: -moz-available;
	padding: 1em;
	border: none;
	border-radius: 1em;
}

div#detalle form input[type="submit"] {
	background-color: #F0E68C; /* Khaki */
	border-radius: 1em;
	margin: 0 0 0 1em;
	padding: 1em;
	border: none;
	transition: 1s;
}

div#detalle form input[type="submit"]:hover {
	background-color: #BDB76B; /* DarkKhaki */
}

div.empty {
	background-color: #F0E68C;
	border-radius: 1em;
	margin: 1em;
	padding: 1em;
	font-family: 'Montserrat';
	display: flex;
	flex-direction: column;
}

div.empty i {
	font-size: 5em;
	line-height: 1.5em;
	color: #BDB76B;
}

/* Error 404 */

div#error_404 {
	background-color: #F0E68C;
	border-radius: 1em;
	margin: 1em;
	padding: 1em;
	font-family: 'Montserrat';
	display: flex;
	flex-direction: column;
}

div#error_404 i {
	font-size: 5em;
	line-height: 1.5em;
	color: #BDB76B;
}

div#error_404 h1,
div#error_404 h3 {
	color: #4E4C2D; /* Darkest DarkKhaki */
}

@media only screen and (max-width: 1000px) {

	/*
		3. Section
	*/

	section {
		width: -moz-available;
	}

	/*
		4. Side Bar
	*/

	aside {
		width: -moz-available;
	}

	/*
		Estilos no recogidos
	*/

	div#registro {
		width: -moz-available;
		clear: both;
		margin-bottom: 5em; /* Evita ser solapado por el footer en tamaños de pantalla < 768px */
	}
	
}